 html, body, #app {
  height: 100%;
  min-width: 1366px;
}

li {
  list-style: none;
}
* {
  margin: 0px;
  padding: 0px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 10px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, alpha);
}

.el-table {
  margin-top: 20px;
}

.el-pagination {
  margin-top: 30px;
}